* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
}

#index {
	background: url('../images/bg-login.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Index.html styling */
ul {
	font-weight: 600;
	list-style: none;
}

#list {
	text-indent: 20px;
}

span {
	font-weight: 300;
}

#divForm {
	background-color: rgba(225,225,225,0.3);
	border-radius: 5px;
}

input {
	font-family: fontawesome;
}

button[type=submit] {
	background-color: rgb(225,225,225);
	color: black;
	border: 1px solid black;
}

button[type=submit]:hover {
	background-color: rgb(25,25,25);
	color: rgba(225,225,225);
	border: 1px solid black;
} 
#signup {
	background-color: rgb(225,225,225);
	color: black;
	border: 1px solid black;
}

#signup:hover {
	background-color: rgb(25,25,25);
	color: rgba(225,225,225);
	border: 1px solid black;
}

/* Register Page Styling */

#cancel {
	background-color: rgb(225,225,225);
	color: black;
	border: 1px solid black;
}

#cancel:hover {
	background-color: rgb(25,25,25);
	color: rgba(225,225,225);
	border: 1px solid black;
}

#registerPage {
	background: url('../images/bg-2.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

div.registerBg {
	background: rgba(225,225,225,0.3);
	border-radius: 10px;
}

/*Profile Page Styling*/

.profileH6 {
	font-weight: 600;
}

.profileBg {
	background: rgba(100,100,100,.5);
	border-radius: 10px;
}

#delbutton {
	background: orange;
	color:black;
}

#delbutton:hover {
	background: rgba(250,0,0,1);
	color:white;
}

#deactbutton {
	background: rgba(250,250,0,.8);
	color:black;
}

#deactbutton:hover {
	background: rgba(250,0,0,1);
	color:white;
}

#updatebutton {
	background: rgba(0,250,0,.5);
	color:black;
}

#updatebutton:hover {
	background: rgba(0,250,0);
	color:black;
}
 
#profilePage {
	background: url('../images/bg-3.jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Update page styling */

#updatePage {
	background: url('../images/bg-6.jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}